{{ define "sql-diagnosis/table" }}
<div class="report-container">
  {{ range $cIdx, $c := .Category }}
    {{ if eq $cIdx 0 }}
      {{ if . }}
        <h1 class="title is-size-2">{{.}}</h1>
      {{ end }}
    {{ else if eq $cIdx 1 }}
      {{ if . }}
        <h1 class="title is-size-3">{{.}}</h1>
      {{ end }}
    {{ else if eq $cIdx 2 }}
      {{ if . }}
        <h1 class="title is-size-4">{{.}}</h1>
      {{ end }}
    {{ else }}
      {{ if . }}
        <h1 class="title is-size-5">{{.}}</h1>
      {{ end }}
    {{ end }}
  {{ end }}
  <h3 class="is-size-4">{{ .Title }}</h3>
  {{ if .CommentEN }}
  <p>{{ .CommentEN }}</p>
  {{ end }}
  <table
    class="table is-bordered is-hoverable is-narrow is-fullwidth"
  >
    <thead>
      <tr>
        {{ range .Column }}
        <th>{{ . }}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ range $rowIdx, $row := .Rows }} {{ $len := len .SubValues }}
      <tr>
        {{ range $idx, $v := .Values }} {{ if and (gt $len 0) (eq $idx 0)}}
        <td>
          {{ . }} &nbsp;&nbsp;&nbsp;
          <a href="javascript:void(0)" class="subvalues-toggle" data-row="{{$rowIdx}}">expand</a>
        </td>
        {{ else }}
        <td>{{ . }}</td>
        {{ end }} {{ end }}
      </tr>
      {{ if gt $len 0 }} {{ range .SubValues }}
      <tr class="subvalues fold" data-row="{{$rowIdx}}">
        {{ range $cIdx, $v := . }}
          {{ if eq $cIdx 0 }}
          <td>|-- {{ . }}</td>
          {{ else }}
          <td>{{ . }}</td>
          {{ end}}
        {{ end }}
      </tr>
      {{ end }} {{ end }} {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
