/* TODO: change to use less */

.container {
  display: flex;
  align-items: center;
}

.text_container {
  width: 64px;
}

.bar_container {
  position: relative;
}

.normal_bar {
  height: 14px;
  background-color: #3a7de1;
}

.max_bar {
  height: 3px;
  background-color: #f2be2c;
  position: absolute;
  top: 5px;
}

.min_bar::before {
  content: '';
  position: absolute;
  border-color: #f2be2c;
  border-style: solid;
  border-width: 0 3px 0 0;
  height: 10px;
  width: 3px;
  top: -3px;
}

.max_bar::after {
  content: '';
  position: absolute;
  border-color: #f2be2c;
  border-style: solid;
  border-width: 0 3px 0 0;
  height: 10px;
  width: 3px;
  top: -3px;
  right: 0px;
}
