body {
    background-color: rgb(241, 242, 246);
}

.document {
    padding-top: 50px;
}

.log-img {
    width: 50px;
}

.log-msg {
    font-size: 24px;
    line-height: 30px;
}

li {
    list-style: none;         
}

.list-item.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

.list-item.ng-enter.ng-enter-active {
    opacity:1;
}

.list-item.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}

.list-item.ng-leave.ng-leave-active {
    max-height: 0;
}

.fa-green {
    color: #00EE00;
}
