.report-container {
  margin-bottom: 16px;
}

tr.subvalues {
  background-color: lightcyan;
}

tr.subvalues.fold {
  display: none;
}

.subvalues-toggle {
  display: inline-block;
  width: 60px;
  cursor: pointer;
  color: #2160c4;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.actions {
  padding: 8px 0;
  background-color: white;
  z-index: 1;
}
