<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.distro_tidb %> Dashboard Diagnosis Report"
    />
    <title>
      <%= htmlWebpackPlugin.options.distro_tidb %> Dashboard Diagnosis Report
    </title>
    <script src="./data.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <script src="%PUBLIC_URL%/compat.js"></script>
    <div id="root"></div>
    <script type="module" src="index.js"></script>
  </body>
</html>
